body {
    font-family: Arial, sans-serif;
    background-color: #eeecf6fc;
    position: fixed;
}
.container{
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left:15%;
}
h1{
    position: relative;
    left: 30%;
    margin: 0%;
    top: 20px;
    color: rgb(241, 235, 235);
}
.h1{
    position: relative;
    right: 20px;
    width: 200%;
    background: #1ed23668;
    height: 70px;
    margin-top: 0;
    bottom:10px;
}
#expense-form{
    display: flex;
}
#form input,label{
    margin-left: 50px;
    position: relative;
    display: flex;
    align-items: center;
    
}
#name{
    outline: none;
    border: none;
    height: 30px;
    border-radius: 20px;
    background: #1ed23668;
    padding-left: 15px;
    box-shadow: 0px 5px 10px #00000071;
}
#amount{
    outline: none;
    border: none;
    height: 30px;
    border-radius: 20px;
    background: #1ed23668;
    padding-left: 15px;
    box-shadow: 0px 5px 10px #00000071;
}
input:last-child{
    position:absolute;
    top: 80%;
    left: 360px;
    bottom: 250px;
    width: 120px;
    height: 50px;
    outline: none;
    border: none;
    transition: 0.8s;
}
input:last-child:hover{
    border-radius: 40px;
    background-color: #1ed23668;
    box-shadow: 0px 10px 10px #0000003b,
                0px 0px 5px #1ed236;
    color: #fff;
}
.space{
    width: 5em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.expense-bg::-webkit-scrollbar{
    -webkit-appearance: none;
    margin: 0;
    display: none;
}
#expenses {
    margin-top: 20px;
    position: absolute;
    bottom:50px;
    right: 20%;
    top:10%;
    color: #ffffff;
    left: 20%;
}
.expense-bg{
    position: fixed;
    background-color: black;
    width: 400px;
    height: 110vh;
    display: flex;
    justify-content: flex-end;
    right: 0px;
    overflow: scroll;
    z-index: 1000;
}
.expense-item {
    margin-bottom: 10px;
    position: relative;
}
.expense-item button{
    margin-left: 40px;
    justify-content: flex-end;
    outline: none;
    border: none;
    background-color: #000000;
    width:50px;
    height: 25px;
    transition: 0.5s;
    color: #fff;
}
.expense-item button:hover{
    background-color: #1ed236ac;
    box-shadow: 0px 0px 10px #1ed236ac;
    border-radius: 10px;
    color: #000000;
}
